# Игнорирование конкретных файлов
secret_file.txt

# Игнорирование всех файлов с определенным расширением
*.log

# Игнорирование всех файлов в определенной папке
logs/

# Игнорирование конкретной папки и всего ее содержимого
venv/
node_modules/

# Игнорирование файлов конфигурации
*.cfg
*.ini

# Игнорирование всех файлов в папке, за исключением одного файла
some_folder/*
!some_folder/keep_this_file.txt

*.mysite