{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>О себе</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="avatar">
        <img src="{% static 'images/my_photo.jpg' %}" alt="Аватарка" width="400" height="600">
    </div>
    <h1>Дмитрий Клочков</h1>
    <h2>Фотограф-видеограф</h2>
    <h3>Автор цифрового контента</h3>
    <p>Приветствую! Я фотограф-видеограф из СанктПетербурга и предлагаю уникальную
        фотосессию на tfp* условиях. Вы можете
        ознакомиться с моими работами
        на этой странице, или ссылки на мои соцсети.</p>
        <br>
    <p>*Time for Prints (с англ. — «время за
        отпечатки») — термин, используемый во
        многих интернет-сообществах, посвящённых
        фотографии и обозначающий соглашение
        между моделью и фотографом. Очень часто
        сокращенно TFP. Вместо того, чтобы платить
        друг другу за услуги, фотограф согласен
        предоставить модели определённое
        количество отпечатков лучших фотографий с
        сессии и ограниченную лицензию на
        использование этих снимков в обмен на
        подписание релиза модели.</p>
        <h2>Условия для проведения
            фотосессии</h2>
            <p>Приготовьте два образа для фотосессии,
                которые мы согласуем заранее. Если
                мы собираетесь снимать в студии, вам
                нужно будет заплатить за аренду
                фотостудии; обычно съёмка занимает
                от одного до трех часов в зависимости
                от концепции, сложности съемки,
                а также вашего опыта позирования.
                Обязательно ознакомьтесь
                с предоставленными рекомендациями
                и подпишите модельный релиз, который
                позволит мне использовать ваши
                фотографии в творческих
                и коммерческих целях (условия
                обсуждаются отдельно).
                </p>
                <h2>Мои обязательства</h2>
                <p>Я обязуюсь предоставить вам
                    отретушированные фотографии
                    художественного качества. Количество
                    фотографий зависит от вида сессии
                    и жанра фотосъемки (предварительно
                    обсуждается перед началом съемки).
                    В тех случаях, когда это возможно,
                    я обязуюсь указывать ссылку на ваш
                    профиль при размещении фотографий
                    в социальных сетях.
                    Обязуюсь не выкладывать фотографии,
                    которые как-то могут опорочить вашу
                    честь и достоинство.</p>

                    <a href="/myapp/">На главную</a>
</body>
</html>
